body {
    margin: 0px;
    font-family: "IBM Plex Sans";
}

main {
    width: 80%;
    margin: auto;
    text-align: center;
}

header,
nav,
header div {
    display: flex;
    align-items: center;
}

header,
nav {
    justify-content: space-around;
}

header {
    background-color: lightsteelblue;
    position: sticky;
    top: 0px;
    height: 15vh;
    z-index: 1000;
}

header img {
    margin: 0px;
    margin-right: 1.5vw;
    height: 8vh;
}

nav input {
    height: 35px;
    width: 40vw;
    border-radius: 5px;
}

.newhomebtn {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

button {
    font-weight: bold;
    font-size: 1vw;
    margin: 1%;
    width: 20%;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: antiquewhite;
}

.container {
    max-width: 900px;
    margin: 30px auto;
    padding: 0 30px;
}

.post {
    background-color: #f9f9f9;
    padding: 30px;
    margin-bottom: 30px;
}

.post-title {
    font-size: 28px;
    margin-top: 0;
}

.post-content {
    margin-bottom: 15px;
    font-size: 18px;
}

.hashtags {
    color: #555;
    font-style: italic;
    margin-bottom: 15px;
    font-size: 16px;
}

.author-info {
    font-style: italic;
    color: #777;
    font-size: 16px;
}

.hidden {
    display: none;
}

#comments-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#comments-list {
    list-style-type: none; 
}