body {
  margin: 0px;
  font-family: "IBM Plex Sans"
}

main {
  width: 80%;
  margin: auto;
  text-align: center;
}

header, nav, header div {
  display: flex;
  align-items: center;
}

header, nav {
  justify-content: space-around;
}

header {
  background-color: lightsteelblue;
  position: sticky;
  top: 0px;
  height: 15vh;
  z-index: 1000;
}

header img {
  margin: 0px;
  margin-right: 1.5vw;
  height: 8vh;
}

nav input {
  height: 35px;
  width: 40vw;
  border-radius: 5px;
}

.newhomebtn {
  background-color: grey;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  width: 100%
}

button {
  font-weight: bold;
  font-size: 1vw;
  margin: 1%;
  width: 20%;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background-color: antiquewhite;
}

h1 {
  font-size: 30px;
}

#identity_div a:first-child {
  margin-right: 10px;
}

.hidden {
  display: none;
}

.user-time{
  color: lightskyblue;
  font-size: 11.5px;
}

article {
  margin: 1em;
  padding: 1em;
  filter: drop-shadow(1px 1px grey);
}

.newhomebtn:hover {
  background-color: darkgrey;
}

.card {
  position: relative;
}

.like-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 7px;
  width: 150px;
  color: red;
}

.like-count {
  position: absolute;
  bottom: 0;
  right: 10px;
  padding: 13px;
  font-size: 12px;
}

#send-btn {
  width: 80px;
}

#textInput {
  width: 50%;
}

.viewbtn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: black;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.viewbtn:hover {
  background-color: lightsteelblue;
}